<div
class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
style="
    min-height: 600px;
    background-image: url(https://res.cloudinary.com/dsrogc0uc/image/upload/v1681043802/about_b33jnt.jpg);
    background-size: cover;
    background-position: center top;
"
>
<span class="mask bg-gradient-default opacity-8"></span>
<!-- Header container -->
<div class="container-fluid text-center">
    <div class="row">
        <div class="mt-5" style="z-index: 1; background-color: rgb(80, 165, 80);">
            <h1 class="display-2 text-white mt-4">About US</h1>
            <h3 class="text-white mt-0 mb-5">
                Vegefoods
            </h3>
        </div>
    </div>
</div>
</div>

<div class="row mt-5 mx-0">
<div class="col-2"></div>
<div class="col-8">
    <p style="font-size: large; text-align: justify">
        Living in the city, we never have enough time to do all the
        things we want to do. Vegefoods can change the way you
        move things, how you shop and lets you access your city like
        never before. We're an app that connects you to the nearest
        delivery partner who can make purchases, pick up items from
        our store in the city and bring them to you. It's never easy
        to make purchases or drop off packages when you get busy
        with work, get stuck in traffic, or you might even end up
        forgetting about it completely. All you need to do is, Tell
        us where to go, what needs to be done and when. What happens
        next? Sit back, and let us worry about your task-at-hand.
        You could say that we are always on the move for you
    </p>
</div>
<div class="col-2"></div>
</div>


<div class="row my-4 mx-0">
<div class="col-2"></div>
<div class="col-8" style="font-size: large">
    <p style="color: #88a3cc">Fresh:</p>
    <p style="color: #2d3e58">
        We Provide Fresh and organic vegetables with most trusted
        products
    </p>

    <p style="color: #88a3cc">Fast Delivery:</p>
    <p style="color: #2d3e58; text-align: justify">
        Shop on the go and get anything delivered in minutes. Buy
        everything from groceries to fresh fruits & vegetables,
        cakes and bakery items, to meats & seafood, cosmetics,
        mobiles & accessories, electronics, baby care products and
        much more. We get it delivered at your doorstep in the
        fastest and the safest way possible.
    </p>
    <p style="color: #88a3cc">
        Single app for all your daily need:
    </p>
    <p style="color: #2d3e58; text-align: justify;">
        Order thousands of products at just a tap - milk, eggs,
        bread, cooking oil, ghee, atta, rice, fresh fruits &
        vegetables, spices, chocolates, chips, biscuits, Maggi, cold
        drinks, shampoos, soaps, body wash, pet food, diapers,
        electronics, other organic and gourmet products from your
        neighbourhood stores and a lot more.
    </p>

    <p style="color: #88a3cc">
        Order online on Vegefoods to enjoy instant delivery
        magic:
    </p>
    <p style="color: #2d3e58; text-align: justify">
        Cities we currently serve: Ahmedabad, Bengaluru, Chandigarh,
        Chennai, Delhi, Faridabad, Gurgaon, Haridwar, HR-NCR,
        Hyderabad, Jaipur, Jalandhar, Kanpur, Kolkata, Lucknow,
        Ludhiana, Meerut, Mohali, Mumbai, Panchkula, Pune, UP-NCR,
        Vadodara,
    </p>
</div>
<div class="col-2"></div>
</div>

<div style="background-color: #343854">
<div class="container pt-5 text-white">
    <div class="row text-center">
        <div class="col-12 col-md-4">
            <span class="footer-icon">
                <img
                    src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873850/Vegetable-Vendor/locked_es8ns3.png"
                    alt=""
                />
            </span>
            <span class="footer-heading">
                Your Information Secure
            </span>
            <span class="footer-text">
                Your Information will not be shared or disclosed to
                anyone.They are highly secure with Us.
            </span>
        </div>
        <div class="col-12 col-md-4">
            <span class="footer-icon">
                <img
                    src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873856/Vegetable-Vendor/secure-payment_bvkdbo.png"
                    alt=""
                />
            </span>
            <span class="footer-heading"> Secure Checkout </span>
            <span class="footer-text">
                Payments will be fast and highly secure and
                confidential.
            </span>
        </div>
        <div class="col-12 col-md-4">
            <span class="footer-icon">
                <img
                    src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873854/Vegetable-Vendor/phone-call_pofcou.png"
                    alt=""
                />
            </span>
            <span class="footer-heading">
                24/7 Customer Support
            </span>
            <span class="footer-text">
                Our team will be available 24/7. You can ask any
                queries at any time.
            </span>
        </div>
    </div>
</div>
</div>
