<div id="carouselFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873842/Vegetable-Vendor/bg_1_j27j0j.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption">
            <h1 >We Serve Fresh Vegetables and Fruits</h1>
            <p class="">We deliver Organic Vegetables and Fruits</p>
        </div>
        <div class="overlay"></div>
      </div>  

      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873843/Vegetable-Vendor/bg_2_ulyxss.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
            <h1>100% Fresh and Organic Fruits</h1>
            <p>We deliver Organic Vegetables and Fruits</p>
          </div>
      </div>
      <div class="overlay"></div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873844/Vegetable-Vendor/category-1_vcbbat.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
            <h1>Garden Fresh Goodness</h1>                
            <p>We deliver Organic Vegetables and Fruits</p>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873849/Vegetable-Vendor/image_5_ul2p3b.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption ">
            <h1>Nutrient Rich and Handpicked Premium Vegetable and Fruits</h1>
            <p>We deliver Organic Vegetables and Fruits</p>
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container my-5">
    <div class="row mx-0">
        <div class="col-md-3 d-flex-align-self-stretch">
            <div class="d-block w-100 mb-md-0 mb-4">
                <div class="icon bg-1">
                    <div class="borderIcon">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873856/Vegetable-Vendor/shipped_vckpik.png">
                    </div>
                </div>
                <h6 class="text-center mb-3">FREE SHIPPING</h6>
                <p class="text-center" style="font-size : 12px; letter-spacing: 1px; color : gray;">ON ORDER OVER Rs.200/-</p>
            </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch">
            <div class="d-block w-100 mb-md-0 mb-4">
                <div class="icon bg-2">
                    <div class="borderIcon">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873847/Vegetable-Vendor/diet_irhmjs.png" alt="">
                    </div>
                </div>
                <h6 class="text-center mb-3">ALWAYS FRESH</h6>
                <p class="text-center" style="font-size : 12px; letter-spacing: 1px; color : gray;">PRODUCT WELL PACKAGE </p>
            </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch">
            <div class="d-block w-100 mb-md-0 mb-4">
                <div class="icon bg-3">
                    <div class="borderIcon">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873847/Vegetable-Vendor/favorites_kotuqn.png" alt="">
                    </div>
                </div>
                <h6 class="text-center mb-3">SUPERIIOR QUALITY</h6>
                <p class="text-center" style="font-size : 12px; letter-spacing: 1px; color : gray;">QUALITY PRODUCTS</p>
            </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch">
            <div class="d-block w-100 mb-md-0 mb-4">
                <div class="icon bg-4">
                    <div class="borderIcon">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873845/Vegetable-Vendor/customer-service_csemfm.png" alt="">
                    </div>
                </div>
                <h6 class="text-center mb-3">SUPPORT</h6>
                <p class="text-center" style="font-size : 12px; letter-spacing: 1px; color : gray;">24/7 SUPPORT</p>
            </div>
        </div>
    </div>
  </div>


  <div class="container mb-5">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch">
                        <div class="img mb-md-0 h-100" style="background-image: url('https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873843/Vegetable-Vendor/category_ybwvjs.jpg'); min-height: 400px;align-items: stretch;">
                            <div class="text-center w-100 pt-3">
                                <h2 style='font-family: "Lora", Georgia, serif; color : #82ae46; font-size:24px'><i>Vegetables</i></h2>
                                <p style="font-weight: 250;">Protect the health of every home</p>
                                <button class="btn btn-success px-3 py-2 rounded-pill" (click)="router.navigateByUrl('/user/products')">Shop Now</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 align-items-stretch">
                        <div class="img my-3 mt-md-0 mb-md-1" style="background-image: url('https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873844/Vegetable-Vendor/category-1_vcbbat.jpg'); min-height : 250px">
                            <span>Vegetables</span>
                        </div>
                        <div class="img mb-3 mb-md-0" style="background-image: url('https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873843/Vegetable-Vendor/category-2_eujkt5.jpg'); min-height : 250px">
                            <span>Fruits</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="align-items-stretch">
                    <div class="img mb-3 mb-md-1" style="background-image: url('https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873844/Vegetable-Vendor/category-3_v4a1oq.jpg'); min-height : 250px">
                        <span>Juices</span>
                    </div>
                    <div class="img mb-3 mb-md-0" style="background-image: url('https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873844/Vegetable-Vendor/category-4_wd2hsp.jpg'); min-height : 250px">
                        <span>Dried</span>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <div class="text-center">
    <button class="btn btn-success up-arrow-btn" onclick="window.scrollTo(0,0)"> <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873858/Vegetable-Vendor/up-arrow_tedqjp.svg" class="up-arrow" alt=""> </button>
  </div>

  <hr class="mb-5">
  
  <footer>
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-2 mb-5">
                <h4 style='font-size: 20px;font-weight: 500;' class="mb-4">Vegefoods</h4>
                <p style="font-size: 14px;">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
                <ul class="ps-0 mt-5 " style="list-style : none">
                    <li class="d-inline-block"><img style="width : 30px" class="m-2" src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873858/Vegetable-Vendor/twitter_f9tq6p.png" alt=""></li>
                    <li class="d-inline-block"><img style="width : 30px" class="m-2" src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873847/Vegetable-Vendor/facebook-app-symbol_dj3m0n.png" alt=""></li>
                    <li class="d-inline-block"><img style="width : 30px" class="m-2" src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873849/Vegetable-Vendor/instagram_e3babh.png" alt=""></li>
                </ul>
            </div>
            <div class="col-md-3 mt-md-0 mt-5 ps-md-5 mb-5">
                <h4 style='font-size: 20px;font-weight: 500;'>Menu</h4>
                <ul style="font-size: 14px;" class="ps-0 mt-4" style="list-style : none">
                    <li class="mb-3">Shop</li>
                    <li class="mb-3">About</li>
                    <li class="mb-3">Journal</li>
                    <li class="mb-3">Contact Us</li>
                </ul>
            </div>
            <div class="col-md-4 mb-5">
                <h4 style='font-size: 20px;font-weight: 500;' class="text-center mb-4">Help</h4>
                <div style="font-size: 14px;" class="row">
                    <div class="col-9">
                        <ul class="ps-0" style="list-style : none">
                            <li class="mb-3">Shipping Information</li>
                            <li class="mb-3">Returns & Exchnage</li>
                            <li class="mb-3">Terms & Condition</li>
                            <li class="mb-3">Privacy Policy</li>
                        </ul>
                    </div>
                    <div class="col-3">
                        <ul class="ps-0 mt-3" style="list-style : none">
                            <li class="mb-3">FAQs</li>
                            <li class="mb-3">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-5">
                <h4 style='font-size: 20px;font-weight: 500;' class="text-center mb-4">Have Questions?</h4>
                <div style="font-size: 14px;" class="row mb-4">
                    <div class="col-2">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873850/Vegetable-Vendor/location_bwunmt.png" style="width : 20px" alt="" class="me-3"> 
                    </div>
                    <div class="col-10">
                        Darwinbox Digital Solutions Pvt. Ltd., Hi-Tech City, Hyderabad-500081
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-2">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873857/Vegetable-Vendor/telephone-call_kakumn.png" style="width : 20px" alt="" class="me-3"> 
                    </div>
                    <div class="col-10">
                        +91 98324 92834
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-2">
                        <img src="https://res.cloudinary.com/dsrogc0uc/image/upload/v1680873846/Vegetable-Vendor/email_snurzl.png" style="width : 20px" alt="" class="me-3"> 
                    </div>
                    <div class="col-10">
                        darwinbox-contact@email.com
                    </div>
                </div>
            </div>
        </div>
    </div>
  </footer>
