
.button{
    color : #198754;
    background-color: transparent;
    border : none;
    padding : 6px 18px;
    border-radius : 6px;
    transition : background-color 0.2s ease-in-out, text 0.2s ease-in-out
}

.button:hover{
    background-color: #198754;
    color : white;
}

.edit-button{
    width : 16px;
    height : 16px;
    color :#198754;
    cursor : pointer
}

.notification-count{
    position: absolute;
    font-size : 12px;
    top : -12px;
    right : -12px;
    color : white;
    aspect-ratio: 1;
    height : 25px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn-outline-info:hover{
    color : white;
}

.btn-outline-info:hover svg{
    animation : ring 1s
}

@keyframes ring {
    0%{
        transform : rotateZ(0deg);
    }
    30%{
        transform : rotateZ(40deg);
    }
    70%{
        transform : rotateZ(-40deg);
    }
    100%{
        transform : rotateZ(0deg);
    }
}

.profile-image-box {
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 10px;
    max-width: 300px;
    width: 100%;
}

.profile-image {
    width: 100%;
    border-radius: 50%;
    border: 2px solid black;
}

.profile-button {
    position: absolute;
    bottom: 6%;
    right: 6%;
    width: 60px;
    aspect-ratio: 1;
    padding: 14px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #25d366;
}

.profile-button img {
    width: 100%;
    aspect-ratio: 1;
    filter: invert(100%);
}

.profile-preview-label {
    display: block;
    width: 45%;
    margin-left: 25%;
    text-transform: uppercase;
    text-align: center;
    background-color: #1172c2;
    line-height: 45px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.productImage {
    display: none;
}
